<%= link_to "Back to Lists", lists_path, class: "btn btn-warning" %>

<div class="p-5">
  <h1 class="pt-5"><%= @list.name %></h1>
  <div class="pt-5">
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.association :movie, collection: Movie.order(:title), prompt: "Select a movie" %>
      <%= f.input :comment, placeholder: "Write a comment" %>
      <%= f.submit "Add Bookmark", class: "btn btn-warning" %>
    <% end %>
  </div>
</div>
